<template>
  <div class="container section">

      <h3 class="title is-3">User Settings</h3>

    <div class="columns">
      <div class="column is-half">

        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
            <input class="input" type="text" value="${user.name}" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
            <input class="input" type="text" value.bind="user.email">
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label">Profile picture</label>
        <img src="${user.gravatar}">
        <p>Change on <a href="https://gravatar.com/" target="_blank">Gravatar</a>.</p>
      </div>
    </div>
  </div>
</template>
