<template>
  <div class="container columns">

    <div class="column is-10">

      <h1 class="title">Create Machine</h1>

      <form>

        <div class="columns">
          <div class="column" repeat.for="image of images">
            <a>
              <div class="card">
                <div class="card-image has-text-centered" style="padding-top: 10px">
                  <span class="title is-2">
                    <i class="icon-${image.slug}"></i>
                  </span>
                </div>

                <div class="card-content has-text-centered" style="white-space: nowrap">
                  ${image.name}
                </div>

                <footer class="card-footer">
                  <p class="card-footer-item">${image.versions[0].name}</p>
                </footer>
              </div>
            </a>
          </div>
        </div>

        <hr/>
        <label class="label">Name</label>
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" value.bind="name"/>
          </p>
          <p class="control">
            <a class="button" click.trigger="randomName()">
              <i class="fa fa-random"></i>
            </a>
          </p>
        </div>

        <div class="field">
          <label class="label">Region</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Europe</option>
                <option>North America</option>
              </select>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <button class="button is-large is-fullwidth is-primary" click.trigger="create()">Create</button>
          </p>
        </div>
      </form>

    </div>
  </div>
</template>
