<template>
  <table if.bind="machines.all.length" class="table is-bordered is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Status</th>
        <th>IP</th>
        <th>RAM</th>
      </tr>
    </thead>
    <tr repeat.for="machine of machines.all">
      <td><i class="icon-ubuntu"></i></td>
      <td><a route-href="route: view; params.bind: {id:machine.id}">${machine.name}</a></td>
      <td >
        <span if.bind="machine.status === 'running'" class="has-text-success">Running</span>
        <span if.bind="machine.status === 'stopped'" class="has-text-danger">Stopped</span>
      </td>
      <td>1.2.3.4</td>
      <td>2 GB</td>
    </tr>
  </table>

  <div if.bind="!machines.all.length" class="has-text-centered">
    <p class="is-size-4">You have no machines.</p>

    <a class="button is-primary is-large" route-href="route: create">Create Machine</a>
  </div>
</template>
