<template>
  <div class="container">
    <section class="section">

      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a route-href="route: machines">Machines</a>
          </li>
          <li class="is-active">
            <a>
              ${router.currentInstruction.config.title}
            </a>
          </li>
        </ul>
      </nav>

      <router-view></router-view>
  </div>
  </section>
  </div>
</template>
