<template>
  <h3 class="title is-3">
    <i class="icon-ubuntu"></i>
    ${machine.name}

    <div class="field is-grouped pull-right">
      <div class="control">
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button ${machine.status === 'running' ? 'is-success' : 'is-danger'}">
              <span if.bind="machine.status === 'running'">Running</span>
              <span if.bind="machine.status === 'stopped'">Stopped</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a if.bind="machine.status === 'running'" click.trigger="toggleModal(poweroffModal)" class="dropdown-item">
                Power off
              </a>
              <a if.bind="machine.status === 'stopped'" click.trigger="status('running')" class="dropdown-item">
                Start
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="control">
        <div class="field has-addons">
          <p class="control">
            <button class="button is-success" click.trigger="connect()">
              <span>Connect</span>
            </button>
          </p>
          <div class="control">
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button is-success">
                  <span class="icon is-small">
                    <i class="fa fa-angle-down"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a click.trigger="toggleModal(connectModal)" class="dropdown-item">
                    Connect using your terminal
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </h3>

  <div class="field is-grouped is-grouped-multiline">

    <div class="control">
      <div class="tags has-addons">
        <span class="tag">RAM</span>
        <span class="tag is-primary">1 GB</span>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <span class="tag">Disk</span>
        <span class="tag is-primary">10 GB</span>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <span class="tag">CPU</span>
        <span class="tag is-primary">1</span>
      </div>
    </div>


    <div class="control">
      <div class="tags has-addons">
        <span class="tag">IP</span>
        <span class="tag is-primary">1.2.3.4</span>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <span class="tag">Image</span>
        <span class="tag is-primary">${machine.image}</span>
      </div>
    </div>
  </div>

  <hr>

  <h4 class="title is-4">General settings</h4>

  <div class="field is-grouped">
    <div class="control is-expanded">

      <div class="field">

        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" value.bind="machine.name">
        </div>
      </div>


    </div>
    <div class="control">
      <div class="field">

        <label class="label">ID</label>
        <div class="control">
          <input class="input" type="text" value.one-way="machine.id" disabled>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-success" click.trigger="">Save changes</button>

    </div>
  </div>


  <hr>


  <h4 class="title is-4">Advanced settings

    <button class="button pull-right" click.trigger="toggleAdvanced()">
      <span show.bind="showAdvanced">Collapse</span>
      <span show.bind="!showAdvanced">Expand</span>
    </button>

  </h4>

  <div show.bind="showAdvanced">

    <div class="notification">
      <p class="is-size-5 has-text-danger has-text-weight-bold">Delete machine</p>
      <p>Remove machine and all attached data. </p>
      <p>
        <button class="button is-danger" click.trigger="toggleModal(deleteModal)">
          Delete machine
        </button>
      </p>
    </div>

  </div>


  <div class="modal" ref="restartModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Restart machine</p>
        <button class="delete" aria-label="close" click.trigger="toggleModal(restartModal)"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to restart
        <b>${machine.name}</b>? This will terminate all running applications.
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger">Yes, restart</button>
        <button class="button" click.trigger="toggleModal(restartModal)">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" ref="poweroffModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Power off machine</p>
        <button class="delete" aria-label="close" click.trigger="toggleModal(poweroffModal)"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to power off
        <b>${machine.name}</b>? This will terminate all running applications.
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" click.trigger="poweroff()">Yes, power off</button>
        <button class="button" click.trigger="toggleModal(poweroffModal)">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" ref="deleteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete machine</p>
        <button class="delete" aria-label="close" click.trigger="toggleModal(deleteModal)"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to delete machine
        <b>${machine.name}</b>? You won't be able to restore it.
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" click.trigger="delete()">Yes, delete</button>
        <button class="button" click.trigger="toggleModal(deleteModal)">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" ref="connectModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Connect using your terminal</p>
        <button class="delete" aria-label="close" click.trigger="toggleModal(connectModal)"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <p>
            OpenVM provides a easy to use terminal right here in your web browser. Unfortunately, browsers have limitations, therefore
            not all features (such as copy and paste) are always working. You might also prefer using a local terminal emulator
            that integrates with your desktop. We get you.
          </p>

          <p>
            Go ahead and download the
            <a href="#">OpenVM terminal client</a>, then move it to a location in your PATH (for example
            <code>/usr/local/bin</code>).
          </p>

          <p>To get started, you first need to set the URL of our API:</p>

          <pre>openvm remote add --default ${config.get('api.endpoint')}</pre>

          <p>Next, login with your username and password:</p>

          <pre>openvm login ${user.name}</pre>

          <p>
            Finally, you can access the shell of your machine right in your terminal:
          </p>

          <pre>openvm shell ${machine.name}</pre>

          <p>To list all available commands, run:</p>

          <pre>openvm --help</pre>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" click.trigger="toggleModal(connectModal)">Close</button>
      </footer>
    </div>
  </div>


</template>
