<template>
  <div class="tabs">
    <ul>
      <li repeat.for="session of sessions" class="${session.id == active.id ? 'is-active' : ''}">
        <a click.trigger="setActive($index)">
          <span class="icon is-small">
            <i class="icon-ubuntu"></i>
          </span>
          <span>${session.name}</span>
        </a>
      </li>
    </ul>
  </div>
  <compose repeat.for="session of sessions" show.bind="session === active"
   view-model="./terminal" model.bind="session" compose.ref="session.viewModel">
</template>
