<template>
    <div class="container">
      <section class="section">

        <table if.bind="images.all.length" class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th></th>
                <th>OS</th>
                <th>Release</th>
                <th>Description</th>
                <th>Id</th>
              </tr>
            </thead>
            <tr repeat.for="image of images.all">
              <td><i class="icon-${image.properties.os.toLowerCase()}"></i></td>
              <td>${image.properties.os}</td>
              <td>${image.properties.release}</td>
              <td>${image.properties.description}</td>
              <td>${image.id}</td>
            </tr>
          </table>

    </div>
    </section>
    </div>
  </template>
