html {
  overflow-y: auto;
}

.is-hidden {
  display: none;
}

.terminal {
  background-color: #000;
}

#top-pane {
  overflow-y: auto;
}

#bottom-pane {
  /* TODO get rid of this
    Terminal automatically resizes itself to fit the height, and already has
    a scrollbar. Unfortunately we can no longer drag the gutter once we remove
    it.
  */
  overflow-y: auto;
}

#bottom-pane .tabs {
  margin-bottom: 0;
}

.gutter.gutter-horizontal {
  background-color: #dbdbdb;
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-color: #dbdbdb;
  cursor: ns-resize;
}
