<template>
  <div class="container section">
    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="title has-text-centered">Login</h1>

        <form>
          <div class="field">
            <label class="label">Username</label>
            <p class="control">
              <input class="input" type="text" value.bind="username"/>
            </p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <p class="control">
              <input class="input" type="password" value.bind="password"/>
            </p>
          </div>

          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary" click.trigger="login()">Login</button>
            </p>
            <p class="control">
              <a class="button is-link" route-href="route: signup">Sign up</a>
            </p>
          </div>
        </form>

      </div>
    </div>
  </div>
</template>
