<template>
  <div class="columns is-gapless" style="flex-direction: column; height: 100vh">

    <div class="column is-narrow">
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="container">

          <div class="navbar-brand">
            <a class="navbar-item" route-href="route: home">
              OpenVM
            </a>
          </div>

          <div class="navbar-menu">

            <div class="navbar-start">
              <a class="navbar-item" route-href="route: machines" if.bind="user.loggedIn">
                Machines
              </a>
              <a class="navbar-item" route-href="route: images" if.bind="user.loggedIn">
                  Images
                </a>
            </div>

            <div class="navbar-end">
              <div class="navbar-item" if.bind="!user.loggedIn">

                <div class="field is-grouped">
                  <div class="control">
                    <a class="button is-primary" route-href="route: login">
                      <span>Login</span>
                    </a>
                  </div>
                  <div class="control">
                    <a class="button is-primary" route-href="route: signup">
                      <span>Sign up</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="navbar-item" if.bind="user.loggedIn">
                <!-- TODO not yet possible to use route-href
                 https://github.com/aurelia/router/issues/89
            -->
                <a class="button is-primary" href="#/machines/create">
                  <span>Create</span>
                </a>
              </div>

              <div class="navbar-item has-dropdown is-hoverable" if.bind="user.loggedIn">
                <a class="navbar-link">
                  <span class="icon">
                    <img src.bind="user.gravatar" />
                  </span>
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" route-href="route: user">
                    Settings
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" click.trigger="logout()">
                    Logout
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </nav>
    </div>
    <div class="column" id="top-pane">
      <router-view></router-view>
    </div>
    <div class="column" id="bottom-pane" show.bind="split">
      <compose view-model="./terminal/main"></compose>
    </div>
  </div>
</template>
