<template>
  <div class="container section">

    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="title has-text-centered">Sign Up</h1>

        <form>
          <div class="field">
            <label class="label">Username</label>
            <input class="input" type="text" value.bind="username" />
          </div>

          <div class="field">
            <label class="label">Email</label>
            <input class="input" type="email" value.bind="email" />
          </div>

          <div class="field">
            <label class="label">Password</label>
            <input class="input" type="password" value.bind="password" />
          </div>

          <div class="field">
            <label class="label">Credit Card</label>
            <input class="input" type="text" />
          </div>

          <div class="field is-grouped">
            <input class="input" type="text" />
            <input class="input" type="text" />
          </div>

          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary" click.trigger="signup()">Sign up</button>
            </p>
            <p class="control">
              <a class="button is-link" route-href="route: login">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
